body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
  }

/* Header */
.header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.header-logo img {
    width: 100px;
}

.header-info {   
    text-transform: uppercase;
    text-align: right;
    margin-left: auto;
    
}

.header-info h1 {
    font-weight: normal;
    margin-bottom: 0;
}

.header-info h3 {
    font-weight: lighter;
    margin-top: 0;
}

hr {
    border-width: 2px;
    color: #7d9;
}


/* main */
.gallery {
    width: 100%;
}

.gallery img {
    width: 100%;
    max-width: 100%; 
}

.featured-work {
   width: 100%; 
   display: flex;
}

main h1 {
    margin-left: 10px;
    margin-bottom: 2px;
    color: #7d97ad;
    font-weight: bolder;
}

.featured-work figure {
    height: auto;
    margin-left: 0;
    margin-top: 0; 
    margin-right: 20px; 
    width: calc((100% - 40px)/3);
}

.featured-work figure:last-of-type {
    margin-right: 0;
}

.featured-work img {
    width: 100%;
    }

.featured-work h2 {
    text-align: center;
    text-transform: uppercase;    
    font-weight: bold;
    color: #2d3c49;
}

.featured-work p {
    text-align: center;
}

@media screen and (max-width: 650px) {
    main h1 {
        text-align: center;
    }

    .featured-work {
        display: block;
    }

    .featured-work figure {
        width: auto;
        margin: auto;
    }
}

@media screen and (min-width: 900px) {
    body {
        width: 900px;
        margin: auto;
    }
}